<!DOCTYPE html>
<html>
    <head>
        <title>DevHyun's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">DevHyun's Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>Hi there!</p>
            <p>published: 16.10.2020, 19:00</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>bye there..</p>
            <p>published: 16.10.2020, 19:01</p>
        </div>
    </body>
</html>